* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

html,
body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: #efefef;
  color: #333;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
input,
button,
textarea,
select {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
select,
textarea {
  outline: none;
}